<!-- =========================
      container content
============================== -->
<div class="contaier mt-3 pt-0 p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3>Alterar sintoma</h3>
            <hr class="mt-4 mb-4">
        </div>
    </div>
    <!-- *** end row título *** -->


    <!-- =========================
        filtros
    ============================== -->
    <div class="row mb-2">
        <div class="col-md-3 mt-1">
            <div class="input-group">
                <input class="form-control" id="pesquisar-sintoma" type="search" placeholder="Pesquisar sintoma" aria-label="Search">
            </div>
        </div>
        <!-- *** filtro por nome *** -->
    </div>
    <!-- *** row filtros *** -->


    <!-- =========================
        conteúdo da tabela + modal
    ============================== -->
    <div class="row">
        <div class="col-md-12 mx-auto">

            <table class="table table-hover table-sm table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            <i class="fas fa-plus"></i>
                            <span class="d-none d-md-inline-block">Info</span>
                        </th>
                        <th scope="col">Sintoma</th>
                        <th scope="col">Parte Corpo</th>
                        <th scope="col">Nome popular</th>
                    </tr>
                </thead>

                <tbody id="lista-sintomas">
                </tbody>
            </table>

            <div class="modal fade" id="alterar_sintomas" tabindex="-1" role="dialog" aria-labelledby="alterar_sintomaLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="modal_header" class="modal-header">
                            <h5 class="modal-title">
                                <span id="id" class="d-none"></span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="row alert_user mt-0 mb-0">
                                <div class="col-md-12 mx-auto">
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="close close_user ml-1" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Preencha/Valide</strong> todos os campos obrigatórios!
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control obrigatorio" id="nome_cientifco_sintoma" placeholder="Nome Científico">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control obrigatorio" id="nome_popular_sintoma" placeholder="Nome Popular">
                                        </div>
                                        <div class="form-group">
                                            <select class="custom-select obrigatorio" id="parte_sintoma">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="causas_sintoma">Causas</label>
                                            <textarea class="form-control" id="causas_sintoma" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="tratamentos_sintoma">Tratamentos</label>
                                            <textarea class="form-control" id="tratamentos_sintoma" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <small id="info_modal" class="form-text text-muted">* Altere os dados e clique em confirmar para atualizar</small>
                                </div>
                            </div>
                            <!-- *** modal body *** -->

                            <div class="modal-footer">
                                <button id="update_registro" type="button" class="btn btn-success btn-sm">Confirmar</button>
                                <button id="calcel_update" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                        <!-- *** modal body *** -->
                    </div>
                    <!-- *** modal content *** -->
                </div>
                <!-- *** modal dialog *** -->
            </div>
            <!--*** modal fade *** -->
        </div>
        <!-- col tabelas -->
    </div>
    <!-- row tabelas + modais -->

</div>
<!-- *** containeir content *** -->