<!-- =========================
    container content
============================== -->
<div class="contaier mt-3 pt-0 p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3>Cadastrar Planta</h3>
            <hr class="mt-4 mb-4">
        </div>
    </div>
    <!-- *** end row título *** -->


    <!-- =========================
        alert campos obrigatórios
    ============================== -->
    <div class="row alert-msg mt-0 mb-0">
    </div>


    <!-- =========================
        alert campos obrigatórios
    ============================== -->
    <div class="row">
        <div class="col-md-12 mx-auto">

            <form id='form-planta'>
                <div class="form-row">
                    <div id="previwborder" class="form-group col-md-2 borda-img">
                        <label for="insert_foto">Foto</label>
                        <div class="text-center" style="width: 100%; height: 100px;">
                            <img id="previewing" src="img/sem-foto.jpg" class="rounded" alt="..." style="max-width: 100%; max-height: 100%">
                        </div>
                        <div class="form-group" style="margin: 8px 0;">
                            <input type="file" class="form-control-file" name="file" id="file">
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="nome_popular">Nome Popular
                            <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control obrigatorio" id="nome_popular" name="nome_popular" placeholder="Nome popular da planta">
                        <label for="nome_cientifico" class="mt-2">Nome cientifíco
                            <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control obrigatorio" id="nome_cientifico" name="nome_cientifico" placeholder="Nome cientifíco da planta">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="parte_planta">Parte planta
                        </label>
                        <select class="custom-select insert_user" id="parte_planta" name="parte_planta">
                            <option selected></option>
                            <option value="1">Galho</option>
                            <option value="2">Planta</option>
                        </select>

                        <label for="regiao" class="mt-2">Região</label>
                        <input type="text" class="form-control obrigatorio" id="regiao" name="regiao" placeholder="Região planta">
                    </div>
                </div>
                <!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="principio_ativo">Principio ativo e efeitos
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="principio_ativo" name="principio_ativo" rows="2"></textarea>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="cuidados">Cuidados e contraindicações
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="cuidados" name="cuidados" rows="2"></textarea>
                    </div>
                </div>
                <!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="efeitos">Efeitos colaterais
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="efeitos" name="efeitos" rows="2"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="modo_preparo">Modo de Preparo</label>
                        <textarea class="form-control" id="modo_preparo" name="modo_preparo" rows="2"></textarea>
                    </div>
                </div>
                <!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bibliografia">Bibliografia</label>
                        <textarea class="form-control" id="bibliografia" name="bibliografia" rows="2"></textarea>
                    </div>
                </div>
                <!-- *** form row *** -->


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="bibliografia">Sintomas associados</label>
                        <select multiple="multiple" size="8" name="duallistbox_demo2" class="demo2" title="duallistbox_demo2">
                        </select>
                    </div>
                </div>

                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-md-2">
                        <button id="insert_planta" type="button" class="btn btn-success btn-block">Cadastrar</button>
                    </div>
                    <div class="col-md-2">
                        <button id="planta_cancelar" type="button" class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div>
                <!-- *** form row *** -->
            </form>

        </div>
        <!-- *** col *** -->
    </div>
    <!-- *** row *** -->
</div>
<!-- *** container content *** -->