<!-- =========================
    container content
============================== -->
<div class="contaier mt-3 pt-0 p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3>Cadastrar Planta</h3>
            <hr class="mt-4 mb-4">
        </div>
    </div><!-- *** end row título *** -->


    <!-- =========================
        alert campos obrigatórios
    ============================== -->
    <div class="row alert_user mt-0 mb-0">
        <div class="col-md-12 mx-auto">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close close_user ml-1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Preencha/Valide</strong> todos os campos obrigatórios!
            </div>
        </div>
    </div>


    <!-- =========================
        alert campos obrigatórios
    ============================== -->
    <div class="row">
        <div class="col-md-12 mx-auto">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="insert_foto">Foto</label>
                        <div class="text-left">
                            <img src="../img/img.svg" class="rounded" alt="...">
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="obrigatorio_2" class="mt-3">Nome Popular
                            <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control obrigatorio" id="obrigatorio_2" placeholder="Nome popular da planta">

                        <label for="obrigatorio_1">Nome cientifíco
                            <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control obrigatorio" id="obrigatorio_1" placeholder="Nome cientifíco da planta">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="insert_parte">Parte planta
                        </label>
                        <select class="custom-select insert_user" id="insert_parte">
                            <option selected></option>
                            <option value="1">Galho</option>
                            <option value="2">Planta</option>
                        </select>

                        <label for="insert_regiao" class="mt-3">Região</label>
                        <select class="custom-select obrigatorio insert_user" id="insert_regiao">
                            <option selected></option>
                            <option value="1">Norte</option>
                            <option value="2">Sul</option>
                            <option value="3">Leste</option>
                            <option value="4">Oeste</option>
                        </select>
                    </div>
                </div><!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="insert_preparo">Modo de Preparo</label>
                        <textarea class="form-control" id="insert_preparo" rows="2"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="obrigatorio_3">Cuidados e contraindicações
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="obrigatorio_3" rows="2"></textarea>
                    </div>
                </div><!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="obrigatorio_4">Efeitos colaterais
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="obrigatorio_4" rows="2"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="obrigatorio_5">Principio ativo e efeitos
                            <span class="red">*</span>
                        </label>
                        <textarea class="form-control obrigatorio" id="obrigatorio_5" rows="2"></textarea>
                    </div>
                </div><!-- *** form row *** -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="insert_tratamento">Bibliografia</label>
                        <textarea class="form-control" id="insert_tratamento" rows="2"></textarea>
                    </div>
                </div><!-- *** form row *** -->

                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-md-2">
                        <button id="insert_planta" type="button" class="btn btn-success btn-block">Cadastrar</button>
                    </div>
                    <div class="col-md-2">
                        <button id="planta_cancelar" type="button" class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div><!-- *** form row *** -->
            </form>

        </div><!-- *** col *** -->
    </div><!-- *** row *** -->
</div><!-- *** container content *** -->