<!-- =========================
    container content
============================== -->
<div class="contaier mt-3 pt-0 p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h3>Pendências</h3>
            <hr class="mt-4 mb-4">
        </div>
    </div>
    <!-- *** end row título *** -->

    <!-- =========================
        row campos para cadastro
    ============================== -->
    <div class="row">
        <div class="col-md-12">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true">Plantas</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Sintomas</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <!-- PLANTAS PENDENTES -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="row mb-2 mt-2">
                        <div class="col-md-3 mt-1">
                            <div class="input-group">
                                <input id="find-plantap" class="form-control" type="search" placeholder="Pesquisar planta" aria-label="Search">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto table-responsive-sm">
                            <table id="tb-planta" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" width="20%">Status</th>
                                        <th scope="col" width="20%">Registro</th>
                                        <th scope="col" width="30%">Usuário</th>
                                        <th scope="col" width="10%">Ver</th>
                                        <th scope="col" width="10%">Aprovar</th>
                                        <th scope="col" width="10%">Revisão</th>
                                    </tr>
                                </thead>
                                <tbody id="plantas-pendentes">

                                </tbody>
                            </table>

                            <div class="row plantas-pendentes">
                                <div class="col-12">
                                    <div class="alert alert-primary" role="alert">
                                        Não há plantas para revisão.
                                    </div>
                                </div>
                            </div>

                            <!-- VER PLANTA -->
                            <div class="modal fade bd-example-modal-lg ver-planta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <label class="titulo-planta"></label>
                                            </h5>
                                            <span id="id_planta" class="d-none"></span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-primary msgn-aprovado-planta" role="alert">
                                                Registro aprovado.
                                            </div>
                                            <div class="informativo">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="text-center" style="width: 100%; height: 100px;">
                                                            <img id="previewing" src="img/plantas/sem-foto.jpg" class="rounded foto-planta" alt="..." style="max-width: 100%; max-height: 100%">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Nome Cientifico:</strong>
                                                            <p class="nome-plantac"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Nome Popular:</strong>
                                                            <p class="nome-plantap"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Parte Planta:</strong>
                                                            <p class="parte-planta"></p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Região:</strong>
                                                            <p class="regiao-planta"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Principio ativo e efeitos:</strong>
                                                            <p class="principio-planta"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Contra indicações:</strong>
                                                            <p class="contra-indicacao"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Efeitos colaterais:</strong>
                                                            <p class="efeitos-colaterais"></p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label for="nome d-inline">
                                                            <strong>Modo de preparo:</strong>
                                                            <p class="modo-preparo"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="nome d-inline">
                                                            <strong>Bibliografia</strong>
                                                            <p class="bibliografia"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="nome d-inline">
                                                            <strong>Sintomas:</strong>
                                                            <ul class="sintomas-associados" style="list-style: none;">

                                                            </ul>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="aprova-planta" class="btn btn-success">Aprovar</button>
                                            <button type="button" id="cancela-planta" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">Revisão</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL OK -->
                            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Aprovar
                                                <span class="id-planta-aprova d-none"></span>?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <span class="informativo">
                                                Ao aprovar, os registros de
                                                <span class="nome-registro"></span> entrarão em produção.
                                            </span>
                                            <div class="alert alert-success msgn-aprovado-planta" role="alert">
                                                Registro aprovado.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="aprova-planta-modal" class="btn btn-success" style="margin-right: 5px;">Aprovar</button>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL RETORNO -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
                                            <span class="id-planta-mensagem d-none"></span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-primary m-0 alert-mgn-planta" role="alert">
                                                Solicitação de correção enviada.
                                            </div>
                                            <form class="mgn-planta">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Mensagem:</label>
                                                    <textarea class="form-control" id="message-text-planta"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="enviar-mensagem" class="btn btn-primary">Enviar</button>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- TAB PANE PLANTAS -->

                <!-- SINTOMAS PENDENTES -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="row mb-2 mt-2">
                        <div class="col-md-3 mt-1">
                            <div class="input-group">
                                <input id="find-sintomap" class="form-control" type="search" placeholder="Pesquisar sintoma" aria-label="Search">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">

                            <table id="tb-sintoma" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" width="20%">Status</th>
                                        <th scope="col" width="20%">Registro</th>
                                        <th scope="col" width="30%">Usuário</th>
                                        <th scope="col" width="10%">Ver</th>
                                        <th scope="col" width="10%">Aprovar</th>
                                        <th scope="col" width="10%">Revisão</th>
                                    </tr>
                                </thead>
                                <tbody id="sintomas-pendentes">

                                </tbody>
                            </table>

                            <div class="row sintomas-pendentes">
                                <div class="col-12">
                                    <div class="alert alert-primary" role="alert">
                                        Não há sintomas para revisão.
                                    </div>
                                </div>
                            </div>

                            <!-- VER SINTOMA -->
                            <div class="modal fade bd-example-modal-lg ver-sintoma" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <label class="titulo-sintoma"></label>
                                            </h5>
                                            <span id="id_sintoma" class="d-none"></span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-success msgn-aprovado-sintoma" role="alert">
                                                Registro aprovado.
                                            </div>
                                            <div class="informativo-sintoma">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Nome Cientifico:</strong>
                                                            <p class="nome-sintomac"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Nome Popular:</strong>
                                                            <p class="nome-sintomap"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Parte corpo:</strong>
                                                            <p class="parte-corpo"></p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Causas:</strong>
                                                            <p class="causas"></p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="nome d-inline">
                                                            <strong>Tratamentos:</strong>
                                                            <p class="tratamentos"></p>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="aprova-sintoma" class="btn btn-success">Aprovar</button>
                                            <button type="button" id="cancela-sintoma" class="btn btn-outline-warning" data-toggle="modal" id="revisa-sintoma" data-target=".revisa-sintoma">Revisão</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL OK -->
                            <div class="modal fade bd-example-modal-sm aprova-sintoma" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Aprovar
                                                <span class="id-sintoma-aprova d-none"></span>?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <span class="informativo-sintoma">
                                                Ao aprovar, os registros de
                                                <span class="nome-registro-sintoma"></span> entrarão em produção.
                                            </span>
                                            <div class="alert alert-success msgn-aprovado-sintoma" role="alert">
                                                Registro aprovado.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="aprova-sintoma-modal" class="btn btn-success" style="margin-right: 5px;">Aprovar</button>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- MODAL RETORNO -->
                            <div class="modal fade revisa-sintoma" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
                                            <span class="id-sintoma-mensagem d-none"></span>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-success m-0 alert-mgn-sintoma" role="alert">
                                                Solicitação de correção enviada.
                                            </div>
                                            <form class="mgn-sintoma">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Mensagem:</label>
                                                    <textarea class="form-control" id="message-text-sintoma"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="enviar-mensagem-sintoma" class="btn btn-primary">Enviar</button>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- TAB PANE SINTOMAS -->
            </div>
            <!-- TAB CONTENT -->
        </div>
        <!-- COL -->
    </div>
    <!-- ROW -->
</div>